#div { 
    font-family:'微软雅黑', 'Microsoft YaHei', 'YaHei', sans-serif;
    width:100%; 
    height:45px;
    background:#95caca; 
    color:#fff; 
    text-align:center;
    line-height:45px;
    position: fixed;
    bottom:0;
}