<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="content">
        <h1 class="content-title">创建账户</h1>
        <div class="content-form">
            <form ng-app="myApp"  ng-controller="MyCtrl" name="myForm" novalidate>
                <div id="change_margin_1">
                <input class="user" type="text"  #user placeholder="请输入用户名"/>         
                </div>
                <div id="change_margin_2">
                <input class="password" type="password" #pwd1 placeholder="请输入密码"/>            
                </div>
                <div id="change_margin_3">
                <input class="password" type="password" #pwd2 placeholder="确认密码"/>
                </div>
                <div class="rememberField">
                        <span class="checkboxPic check_chk" tabindex="-1" isshow="false">
                            <i class="i_icon"></i>
                        </span>
                        <label class="pointer">我已阅读并接受</label>
                        <a href="#" target="_blank" class="linkABlue">《服务协议条款》</a>
                    </div>
                    <span class="otherError">请确认已阅读并同意Flyme服务协议条款</span>
                <div id="change_margin_4">
                <button class="content-form-signup" type="submit" (click)="register(user.value,pwd1.value,pwd2.value)">确认注册</button>
                </div>
            </form>
        </div>
	</div>
</body>
</html>